* {
  margin: 0;
  padding: 0;
}

#geral {
  margin-left: auto;
  margin-right: auto;
  width: 1125px;
  height: auto;
}

#cima {
  width: 100%;
  height: auto;
  background-image: linear-gradient(#E8E5C2 10%, #F8F7DB 30%);
}

#topo {
  background-color: #F8F7DB;
  display: flex;
  height: auto;
}

#logo {
  background-image: linear-gradient(#E8E5C2 10%, #F8F7DB 30%);
  width: 16.7%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

#tomate {
  background-color: #CD4008;
  width: 16.7%;
  height: auto;
}

#kiwi {
  background-color: #9FB41B;
  width: 16.7%;
  height: auto;
}

#dados {
  margin-left: 20px;
  width: 35%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

#login {
  background-color: #E9E6C3;
  width: 100%;
  height: 200px;
  display: flex;
  padding-top: 20px;
}

#rodape {
  background-color: #2D2D2D;
  width: 100%;
  height: 100px;
}

#infs {
  color: white;
  margin: -20px 10px 0px 10px;
}

#infs h2 {
  margin-bottom: 8px;
}

#infs h5 {
  margin-bottom: 20px;
  color: #e67c4f;
}

#infs p {
  text-align: justify;
  color: #e67c4f;
}

#botao {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

#botao button {
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

#tomate figure {
  background-image: url(../images/tomate.jpg);
  height: 336px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}

#kiwi figure {
  background-image: url(../images/kiwi.jpg);
  height: 330px;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
}

#sobre {
  background-image: url(../images/sobre.gif);
  width: 47px;
  height: 92px;
  display: flex;
  justify-content: center;
  line-height: 120px;
}

#sobre a {
  text-decoration: none;
  color: black;
}

#home {
  background-image: url(../images/homeBg.gif);
  width: 47px;
  height: 92px;
  display: flex;
  justify-content: center;
  line-height: 120px;
}

#home a {
  text-decoration: none;
  color: black;
}


#ultimoEventos {
  color: white;
  padding: 10px;
}

#ultimoEventos h5 {
  color: #E0E05A;
  margin: 10px 0px;
}

#ultimoEventos p {
  text-align: justify;
  margin-bottom: 10px;
  color: #E0E05A;
}

#links {
  width: 50%;
  height: 200px;
}

#links ul {
  padding-left: 30px;
  list-style: none;
  list-style-type: square;
}

#link {
  border-bottom: dotted 1px;
  margin-bottom: 4px;
}

#ultimoLink {
  border-bottom: none;
}

#links ul li a {
  text-decoration: none;
  color: black;
}

#propaganda {
  margin-left: 20px;
}

#noticias {
  margin: 12px 0px;
  display: flex;
  height: auto;
  flex-direction: column;
}

#noticias figure {
  display: flex;
}

#noticias img {
  width: 60px;
}

#noticias h1 {
  color: #9C3411;
  margin-top: 5px;
  margin-left: 5px;
}

#noticias nav {
  background-color: #FEFDEB;
}

#noticias ul {
  list-style: none;
  list-style-type: none;

}

#noticias ul li {
  border: solid 2px #F8F7DB;
  display: flex;
  align-items: center;
  padding: 2px;
}

#noticias ul li a {
  text-decoration: none;
  color: black;
}

#noticias ul li img {
  width: 20px;
}

#ideias nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#ideias button {
  background-color: #FDFDFD;
  border: none;
}

#newsletter {
  background-image: url(../images/newletter.jpg);
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

#newsletter label {
  font-size: 15pt;
  font-weight: bold;
}

#newsletter input {
  text-align: center;
}

#newsletter button {
  background-color: #CB4005;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

#cara {
  width: 40%;
  height: 180px;
  margin-left: 10%;
}

#caraTitulo {
  display: flex;
}

#caraTitulo img {
  margin-right: 12px;
}

#caraCont p {
  color: #9FB41B;
}

#caraB {
  display: flex;
  justify-content: end;
}

#caraB button {
  background-color: #CB4005;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

#contato {
  width: 50%;
  margin-left: 20px;
  display: flex;
}

#log {
  width: 50%;
  height: 190px;
  border: 1px solid #dbd593;
}

#cabeLo {
  background-color: white;
  display: flex;
  height: auto;
  padding: 8px;
}

#cabeLo img {
  width: 23px;
  height: auto;
}

#cabeLo h2 {
  margin-left: 10px;
}

#contato form {
  display: flex;
  flex-direction: column;
  background-color: #F8F7DB;
  height: 150px;

}

#contFormI {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contato form input {
  width: 80%;
}

#contFormB {
  display: flex;
  justify-content: end;
  padding-right: 12px;
  margin-top: 10px;
}

#contato form button {
  background-color: #CB4005;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  width: 20%;
}

#tele {
  background-image: url(../images/fones.jpg);
  background-repeat: no-repeat;
  width: 37%;
  height: 150px;
  margin-left: 12px;
  display: flex;
  justify-content: end;
}

#tele h2 {
  margin-top: 12px;
}

footer {
  width: 100%;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#252314, #343434);
}

footer ul {
  list-style: none;
  list-style-type: square;
}

footer ul li {
  display: inline;
  margin-left: 4px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer h5 {
  color: #697627;
}