* {
    margin: 0;
    padding: 0;
}

#geral {
    width: 370px;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    background-image: url(../images/images.jpg);
    height: 161px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#text {
    color: white;
    margin-right: 50px;
}

#formulario {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
}

input {
    width: 95%;
    padding-left: 12px;
    border: 0px solid #555;
    border-bottom: 1px solid #555;
    outline: none;
    margin-bottom: 20px;
}

select {
    width: 95%;
    padding-left: 5px;
    border: 0px solid #555;
    border-bottom: 1px solid #555;
    outline: none;
}

#tabela {
    margin: 0px 20px;
}

#tabelaT {
    width: 100%;
    background-color: #5e74b9;
    text-align: center;
    color: white;
}

table {
    width: 100%;
}

th {
    font-size: 8pt;
}